body {
margin: 0;
padding: 0;
            
}

header {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically within nav */
    position:initial;
    background-color:rgb(255, 0, 0);
    padding: 20px;
    position:-webkit-sticky;
    top: 0;
    position: sticky;
}
nav {
    display: flex; /* Use flexbox to align items horizontally */
}

.nav-left {
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center items vertically within .nav-left */
    position: relative;
}
.nav-right{
    position: inherit;
    right: -70px; 
    padding-left: 20px;           
}
.nav-right li{
    padding-left: 50px;
}

.logo {
    font-size: x-large;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    font-family: Matura MT Script Capitals;
    padding: 5px 10px; /* Add padding to the logo for a more visually appealing look */
}
input{
    height: 30px;
    width: 700px;
    
    margin-left: 30px;
}
.category{
    background-color: blue;
    height: 35px;
}
ul {
    margin: 0; /* Remove default margin from ul element */
    padding: 0; /* Remove default padding from ul element */
}

li {
    display: inline-block; /* Display li elements in inline manner */
    margin-right: 10px; /* Add some spacing between li elements */
}

.search-box {
  position: relative;
  display: inline-block;
}

.search-box input[type="text"] {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: width 0.3s ease-in-out;
}

.search-box button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/* Optional: Add an icon to the button */
.search-box button i {
  color: #666;
}

/* Optional: Add animation to the input when focused */
.search-box input[type="text"]:focus {
  width: 300px;
}

main {
    margin: ;
    background-color: white;
    height: 2000px;
}
aside{
    float: right;
}
.main-nav{
    margin-top: 20px;
    padding-left: 260px;
    display: block;
    
    background-color: rgb(223, 223, 223);
    
}
.main-nav li{
    padding: 20px;
    padding-right:100px;
    left:70px;
    font-size:15px;
}
figure img{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid black;
}
figure{
    border: 1px solid black;
    box-shadow: 10px 10px 15px;
    display: inline-block;
}
.products{
    
}

figcaption{
    text-align: center;
    padding:10px;
}
#counter{
    text-align: center;
}
#add-to-cart{
    margin-bottom: 15px;
}